/*delete this comment once merged with master. 
Added CSS styling for image on main page
Added z-index values to each element. This allows the elements to "layer" properly when screen is not maximized
(i.e. the drop down menu is visible over the img, the login form is visible over both)
Created class for image boxes. ID used for that specific image.
*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    z-index: 3;
}

.box h1{
    color: white;
    text-transform: uppercase;
    z-index: 3;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
	border-radius: 24px;
    transition: width .25s, border-color .25s;
    z-index: 3;
}

.box input[type = "submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    width: 125px;
    outline: none;
    color: white;
	border-radius: 25px;
    transition: color .25s, background .25s;
    z-index: 3;
}

.box input:hover[type = "submit"]{
    background: springgreen;
    color:black;
    z-index: 3;
}



.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width:280px;
    border-color: springgreen;
    z-index: 3;
}


.box input[type = "text"]:hover,.box input[type = "password"]:hover{
    border-color: springgreen;
    z-index: 3;
}

.imageBox {
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 80px;
    z-index: 1;
  }
  
  #cloudIslandImg {
      padding: 1px 1px 1px 1px;
      float: left;
      margin: 0;
      position: relative;
      border: 1px black;
      border-radius: 50px;
      box-shadow: -6px 12px rgb(49, 48, 48);
  }

nav {
    width: 100%;
    height: 60px;
    background-color: grey;
    font-family: sans-serif;
    z-index: 2;
}

nav p {
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    line-height: 55p;
    float: left;
    padding: 12px 12px;
    z-index: 2;
}

nav ul {
    float: left;
    z-index: 2;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    z-index: 2;
}

nav ul li a {
    display: block;
    font-family: sans-serif;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
    z-index: 2;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: grey;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
}

nav ul li:hover ul {
    display: block;
    z-index: 2;
}

nav ul li ul li{
    width: 180px;
    border-radius: 4px;
    z-index: 2;
}

nav ul li ul li a {
	padding: 8px 14px;
    transition: background-color .25s;
    z-index: 2;
}

nav ul li ul li a:hover {
    background-color: lightgray;
    z-index: 2;
}

